.borderless-editor {
  border: none !important;
  height: 100%;
}

.borderless-editor .mantine-RichTextEditor-content {
  border: none !important;
}

.centered-toolbar {
  display: flex;
  justify-content: center;
}
